*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* TOPO */
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
    #head{
        background-color: #FFD900;
        height: 120px;
    }
        .logo{
            margin-left: 50px;
            margin-top: 25px;
        }

/* CORPO da PAGE */
#center{
    text-align: center;
    display: flex;
    align-items: center;
}
    #topic-1{
        background-color: #514988;
        height: 650px;
        width: 70vw;
    }
        .line-1{
            color: #FFD900;
            padding-top: 60px;
            font-size: 50px;
        }
        .line-2{
            color: white;
            padding-top: 20px;
            font-size: 25px;
        }
        .line-3{
            color: white;
            padding-top: 60px;
            font-size: 20px;
            font-weight: 400;
            padding-left: 30px;
            padding-right: 30px;
        }

/* TIMER e VÍDEO */
#topic-2{
    background-color: antiquewhite;
    height: 650px;
    width: 100vw;
    padding-top: 35px;
}
    .timer{
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: auto;
        color: #514988;
        font-size: 22px;
    }
    .line-4{
        color: #E33881;
        font-size: 26px;
    }

/* CARDS e LINK de COMPRA */
#topic-3{
    text-align: center;
    display: flex;
    align-items: center;
}
    #display-1{
        width: 100vw;
        height: 300px;
    }
        .line-5{
            color: #F3C61F;
            text-align: center;
            font-size: 25px;
        }
    #display-2{
        width: 60vw;
        height: 300px;
    }
button{
    width: 380px;
    height: 110px;
    background-color: #514988;
    font-size: 30px;
    color:#EAECE5;
    border: 0px;
    border-radius: 10px;
    margin-bottom: 50px;
    font-weight: bolder;
    cursor: pointer;
}
    button:hover{
        background-color: #514988;
        color: white;
        transform: translateY(-7px);
        transition: 1s;
        box-shadow: 0px 15px 20px #3c3086;
    }

@media (max-width: 720px){
    /* 1ª Seção */
    #head{
        height: 70px;
    }
        .logo{
            width: 100%;
            margin: 0px;
            height: 50px;
            margin-top: 12px;
        }
    
    /* 2ª Seção */    
    #center{
        flex-direction: column;
    }
        #topic-1{
            width: 100vw;
            height: 400px;
        }
            .line-1{
                font-size: 36px;
                padding-top: 25px;
            }
            .line-2{
                font-size: 24px;
                padding-top: 16px;
            }
            .line-3{
                font-size: 14px;
                padding-top: 40px;
            }

        #topic-2{
            padding-top: 25px;
            height: 365px;
        }
            .timer{
                font-size: 10px;
            }
        .line-4{
            font-size: 12px;
        }
        video{
            width: 360px;
        }

    /* 3ª Seção */

}